#gallery{
  max-width: 800px;
  margin: auto;
  background: rgba(255,255,255,0.1);
  padding: 0 $gutter-width;
  @include padding-leader(1);
  @include padding-trailer(2);
  a{
    @include inline-block;
    width: 25%;
    height: 180px;
    text-align: center;
    @include box-sizing(border-box);
    padding: $gutter-width;
    border-bottom: 1px solid #ccc;
    position: relative;
    img{
      max-width: 95%;
      max-height: 95%;
      display: block;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      @include transition-property(transform);
      @include transition-duration(0.3s);
      @include transition-timing-function(ease);
      @include transform(translateY(-50%));
    }
    &:hover{
      img{
        @include transform(scale(1.1) translateY(-50%));
      }
    }
  }
}