@import "compass/css3";
@import "layout";

.topbar{
  position: fixed;
  background-color: #fefefe;
  background-image: image-url("topbar-bg.png");
  height: $nav-height;
  color: #333;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  text-align: right;
  z-index: 5;
  @include transition-property(all);
  @include transition-duration(0.3s);
  @include transition-timing-function(ease);
  &.headroom--unpinned{
    @include transform(translateY(-100%));
    
  }
  .full-nav{
    @media (max-width:768px){
      display: none;
    }
    li{
      @include inline-block;
      @include adjust-font-size-to(18px, 2);
      padding: 0 $gutter-width;
      @include transition-property(all);
      @include transition-duration(0.3s);
      @include transition-timing-function(ease);
      a{
        text-decoration: none;
        color: inherit;
        display: block;
      }
      &.left{
        float: left;
      }
      &.active,&:hover:not(.logo){
        background: #333;
        color: white;
      }
    }
  }
  .small-nav{
    display: none;
    @media (max-width:768px){
      display: block;
    }
    & > li{
      cursor: pointer;
      @include adjust-font-size-to(18px, 2);
      padding: 0 $gutter-width;
      @include transition-property(all);
      @include transition-duration(0.3s);
      @include transition-timing-function(ease);
      &.menu{
        @include inline-block;
      }
      &.menu:hover{
        .sub-menu{
          display: block;
        }  
      }
      .sub-menu{
        display: none;
        margin: 0 0 - $gutter-width;
        &>li{
          padding: 0 $gutter-width;
        }
        &>li:hover{
          background-color: #f2f2f2;
          color: #333;
        }
      }
      a{
        text-decoration: none;
        color: inherit;
        display: block;
      }
      &.left{
        float: left;
      }
      &.active,&:hover:not(.logo){
        background: #333;
        color: white;
      }
    }
  }
}